In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [16]:
df = sns.load_dataset('diamonds')
df = df.head(100)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [17]:
#### first function
def sum_of_xyz(df):
    '''
    Gets a DataFrame as an argument
    returns the total of adding the value in a row from columns named x y z
    '''
    return df['x'] + df['y'] + df['z']

# when you run this cell notice the DataFrame has a new column named xyzSum  
df['xyzSum']= df.apply(sum_of_xyz, axis=1)

df

,carat,cut,color,clarity,depth,table,price,x,y,z,xyzSum
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,10.36
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,10.04
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,10.43
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,11.06
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,11.44
...,...,...,...,...,...,...,...,...,...,...,...
95,0.70,Good,E,VS2,57.5,58.0,2759,5.85,5.90,3.38,15.13
96,0.70,Good,F,VS1,59.4,62.0,2759,5.71,5.76,3.40,14.87
97,0.96,Fair,F,SI2,66.3,62.0,2759,6.27,5.95,4.07,16.29
98,0.73,Very Good,E,SI1,61.6,59.0,2760,5.77,5.78,3.56,15.11
99,0.80,Premium,H,SI1,61.5,58.0,2760,5.97,5.93,3.66,15.56

In [18]:
#### second function
def multiply_price_by_4(price):
    '''
    Gets a column as an argument
    Returns the total of multiplying the value in a row from that column by 4
    '''
    return price * 4

# when you run the code below notice the DataFrame has a new column named price_times_4 
df['price_times_4'] = df[['price']].apply(multiply_price_by_4,axis=1)


df

,carat,cut,color,clarity,depth,table,price,x,y,z,xyzSum,price_times_4
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,10.36,1304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,10.04,1304
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,10.43,1308
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,11.06,1336
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,11.44,1340
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.70,Good,E,VS2,57.5,58.0,2759,5.85,5.90,3.38,15.13,11036
96,0.70,Good,F,VS1,59.4,62.0,2759,5.71,5.76,3.40,14.87,11036
97,0.96,Fair,F,SI2,66.3,62.0,2759,6.27,5.95,4.07,16.29,11036
98,0.73,Very Good,E,SI1,61.6,59.0,2760,5.77,5.78,3.56,15.11,11040
99,0.80,Premium,H,SI1,61.5,58.0,2760,5.97,5.93,3.66,15.56,11040

In [19]:
df_practice = sns.load_dataset('tips')
print(f"DataFrame shape: {df_practice.shape}")
df_practice = df_practice.head(100)
df_practice.head(10)

DataFrame shape: (244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [21]:
def proportion_tip_total_bill(df_practice):
    return df_practice['tip'] / df_practice['total_bill']

df_practice['tips_proportion'] = df_practice.apply(proportion_tip_total_bill, axis=1)
df_practice

    total_bill   tip     sex smoker  day    time  size  tips_proportion
0        16.99  1.01  Female     No  Sun  Dinner     2         0.059447
1        10.34  1.66    Male     No  Sun  Dinner     3         0.160542
2        21.01  3.50    Male     No  Sun  Dinner     3         0.166587
3        23.68  3.31    Male     No  Sun  Dinner     2         0.139780
4        24.59  3.61  Female     No  Sun  Dinner     4         0.146808
..         ...   ...     ...    ...  ...     ...   ...              ...
95       40.17  4.73    Male    Yes  Fri  Dinner     4         0.117750
96       27.28  4.00    Male    Yes  Fri  Dinner     2         0.146628
97       12.03  1.50    Male    Yes  Fri  Dinner     2         0.124688
98       21.01  3.00    Male    Yes  Fri  Dinner     2         0.142789
99       12.46  1.50    Male     No  Fri  Dinner     2         0.120385

[100 rows x 8 columns]